
* {
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
}
p.center {
    font-family: "Times New Roman";
    font-size: 21px;
    text-align: center; 
}
p.chaskin {
   color: gray;
   font-size: 18px;
}
.footer {
    background-color: #777;
    color: white;
    padding: 17.8px;
    font-size: 19.8px;
}
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
}
.topmenu li {
    float: left;
}
.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
}
.topmenu li a:hover {
    background-color: #222;
    font-size: 22px;
}
.header {
    background-color: #eee;
    padding: 13px;
    color: orange;
    text-align: center;
    font-size: 23px;
}
.webmax {
    background-color: #eee;
    padding: 12px;
    color: orange;
    text-align: center;
    font-size: 24px;
}

.content {
    width: 64%;
}
.sidemenu {
    width: 34%;
}
.ssmenu {
    width: 62%;
}
.mainweb {
    width: 99%;
}
.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidemenu li a {
    margin-bottom: 5px;
    display: block;
    padding: 14px;
    background-color: #eee;
    text-decoration: none; 
    color: #666;
    font-size:20px;
}
.sidemenu li a:hover {
    background-color: #555;
    color: white;
}
.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a.zz {
    text-shadow: 2px 2px #00CED1;
}
a.zz:hover {
    text-shadow: 2px 2px white;
    color: gray;
}